[user]
	email = count.elmsley@protonmail.com
	name = 5car1z
[push]
	default = simple
[github]
	user = 5car1z
[core]
	editor = vim
[credential]
	helper = cache --timeout 3600
[help]
	autocorrect = 1
[alias]
        open = "!f() { REPO_URL=$(git config remote.origin.url); xdg-open ${REPO_URL%%.git}; }; f"
	ansible-ignore = !(curl -o .gitignore https://raw.githubusercontent.com/github/gitignore/master/Global/Ansible.gitignore) && git add .gitignore && git commit -m ".gitignore" && :

