# update, upgrade, write to log and clean up.
update_system() {
  sudo apt-get update
  sudo apt-get -y upgrade
  installdate=$(date +"%Y-%m-%d")
  echo -e "$installdate - installed package $1" 
  sudo apt-get autoremove
  }

# colored man pages (via less):
man() {
    env LESS_TERMCAP_mb=$'\E[01;31m' \
    LESS_TERMCAP_md=$'\E[01;38;5;74m' \
    LESS_TERMCAP_me=$'\E[0m' \
    LESS_TERMCAP_se=$'\E[0m' \
    LESS_TERMCAP_so=$'\E[38;5;246m' \
    LESS_TERMCAP_ue=$'\E[0m' \
    LESS_TERMCAP_us=$'\E[04;38;5;146m' \
    man "$@"
    }

hist_sum() {
    history | awk '{CMD[$2]++;count++;}END { for (a in CMD)print CMD[a] " " CMD[a]/count*100 "% " a;}' | grep -v "./" | column -c3 -s " " -t | sort -nr | nl |  head -n10
    }

mpv_twitch() { 
    mpv --ytdl "https://twitch.tv/$1"; 
    }

# Git General Functions

# display a random Git tip using "git-tips" Git repo and jq -- https://stedolan.github.io/jq/
# can add a -M option to the last line jq command of the function to disable the coloured output.
random_git_tip() {
  tips_index=( $(seq 0 $(jq "length" ~/.git-tips/tips.json) | sort -R | head -1) )
  echo "--------------------------------------------------------------"
  jq ".[$tips_index] | .title, .tip" ~/.git-tips/tips.json
}

